<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <title>メモアプリ編集</title>
</head>

<body>
  <nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand ">
      <a class="navbar-item" href="/">
        メモアプリ
      </a>
      <a class="navbar-item " href="/memo/new">
        新規メモ作成
      </a>
    </div>
  </nav>
  <div class="columns ">
    <div class="column is-three-fifths is-offset-one-fifth">
      <form action="/memo/<%= @id%>" method="post">
        <input type="hidden" name="_method" value="patch">
        <div>
          <textarea name="memo" rows="8"><%=@memo%></textarea>
        </div>
        <div>
          <input type="submit" value="更新" class="button is-info is-light">
        </div>
      </form>
    </div>
  </div>
</body>

</html>